/FussballManager.xcodeproj/project.xcworkspace/xcuserdata/svenaanesen.xcuserdatad/UserInterfaceState.xcuserstate
/FussballManager.xcodeproj/project.xcworkspace/xcuserdata/svenaanesen.xcuserdatad/WorkspaceSettings.xcsettings
/FussballManager.xcodeproj/project.xcworkspace/xcuserdata/svenaanesen.xcuserdatad/xcdebugger/Expressions.xcexplist
/FussballManager.xcodeproj/xcuserdata/svenaanesen.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/FussballManager.xcodeproj/xcuserdata/svenaanesen.xcuserdatad/xcschemes/FussballManager.xcscheme
/FussballManager.xcodeproj/xcuserdata/svenaanesen.xcuserdatad/xcschemes/xcschememanagement.plist